/*
If possible, import/use Noto Sans (to ensure that we have a CJK-capable font).

This isn't compulsory - the default "sans" font is used as a fallback if it's
not possible to use this.
*/

@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

/* ============================================================================
BASIC ELEMENTS
============================================================================ */

* { box-sizing: border-box; }

h1 {
  margin: 16px 0;
  font-size: 48px;
  font-weight: 200;
  color: #126;
}

h2, h3 {
  font-weight: 400;
  color: #126;
}

mark {
  background: #CDF;
  box-shadow: 0 0 2px #CDF;
  cursor: help;
}

table {
  background: #000;
  margin-left: auto;
  margin-right: auto;
}


th, td {
  padding: 4px;
  text-align: center;
}

th {
  color: #FF0;
  font-weight: bold;
}

td { background: #FFF; }

input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #BBB;
  background: #FFF;
  color: #000;
}

a, .pseudo-link {
  text-decoration: none;
  color: #24B;
  /* Fake links will often include various things that `a` elements don't... */
  cursor: pointer;
  font-size: inherit;
  margin: 0px;
  padding: 0px;
  display: inline;
  border: none;
  background: none;
}

a:hover, .pseudo-link:hover { text-decoration: underline; }

/* There is only one noscript tag, and it's part of the _layout.html code. */

noscript {
  display: block;
  padding: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #B00;
  border-top: none;
  text-align: center;
  background: #D00;
  color: #FFF;
}

noscript a, noscript .pseudo-link { color: #FF0; }

/* ============================================================================
COMMON STYLES
============================================================================ */

.instructions {
  margin: 16px 8px;
  padding: 16px;
  background: rgb(217, 237, 247);
  border: 1px solid rgb(167, 187, 197);
  color: rgb(49, 112, 143);
  border-radius: 8px;
}

.btn {
  cursor: pointer;

  display: inline-block;
  padding: 8px;

  border-radius: 4px;
  border: 2px solid #888;

  color: #000;
  background: #DDD;

  text-decoration: none;

  overflow: hidden;
}

.btn:hover, .btn:focus {
  text-decoration: none;
  background: #EEE;
}

.btn-huge {
  font-size: 32pt;
  font-weight: bold;
  margin: 4px;
  width: 100%;
}

.btn-primary {
  border-color: #148;
  color: #FFF;
  background: #37B;
  font-weight: bold;
}

.btn-primary:hover, .btn-primary:focus { background: #48C; }

.btn-success {
  border-color: #184;
  color: #FFF;
  background: #3B7;
}

.btn-success:hover, .btn-success:focus { background: #4C8; }

/* NOTE: This is generally used for tables, but doesn't HAVE to be: */

.section-box {
  background: #DDF;
  color: #000;
  border: 1px solid #CCC;
  border-radius: 16px;
  padding: 8px;
  margin: 16px 0;
}

.section-box th {
  color: #000;
  font-weight: bold;
  font-size: 12pt;
  padding: 4px;
}

.section-box td { background: none; }

.warning-box {
  background: #FFB;
  color: #000;
  border: 1px solid #886;
  border-radius: 8px;
  padding: 8px;
}

.centred-box {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.force-inline { display: inline; }

.half-width { width: 50%; }
.two-thirds { width: 67%; }
.full-width { width: 100%; }

.right_answer { background: #AFA; }
.wrong_answer { background: #FAA; }

.score {
  display: inline-block;
  padding: 6px;
  color: #008;
  font-weight: bold;
  font-size: 16pt;
  overflow: hidden;
}

/* ============================================================================
LAYOUT HTML
============================================================================ */

/* These CSS rules are used to create the basic "navbar" layout stuff. */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  margin-bottom: 36px;  /* Total footer height + body-content padding. */
  background: #EEF;
  font: 12pt 'Noto Sans', sans-serif;
}

.custom-navbar {
  background-color: #222;
  display: table-row;
  width: 100%;
  white-space: nowrap;
  /*box-shadow: 0 0 4px #444;*/
}

.custom-navbar > * {
  display: table-cell;
  vertical-align: middle;
  padding: 8px;
}

.custom-navbar a {
  color: #9D9D9D;
  text-decoration: none;
}

.custom-navbar a:hover, .custom-navbar a:focus { color: #FFF; }

.custom-header { font-size: 12pt; }

.custom-footer {
  position: absolute;
  bottom: 0;
  font-size: 12px;
}

.custom-expand {
  width: 100%;
  text-align: center;
}

.custom-brand {
  font-size: 14pt;
  font-weight: bold;
  color: #F66 !important;
}

.body-content { margin: 16px; }

/* ============================================================================
INDEX PAGE
============================================================================ */

.logo-text {
  text-align: center;
  font-weight: bold;
  font-size: 64pt;
  color: #AAF;
  text-shadow: 4px 4px 0 #444;
}

.logo-text > span { color: #FAA; }

/* ============================================================================
KANA PAGE
============================================================================ */

.kana-grid td { font-size: 24pt; }

.kana-grid div {
  color: #777;
  font-size: 8pt;
}

td.kana-special { color: #D00; }
td.kana-blank { background: #888; }

/* This is used to highlight specific letters in a word. */

code em {
  text-decoration: underline;
  font-style: normal;
  font-weight: bold;
}

/* ============================================================================
KANJI PAGE
============================================================================ */

#kanji-content {
  text-align: center;
}

.floating-help-box {
  float: right;
}

.btn-set-label {
  position: relative;
  top: -15px;
  left: -8px;
  font-weight: bold;
  color: #002;
}

.kanji-question {
  margin: 8px;
  padding: 16px;
  border: 1px solid #CCC;
  border-radius: 16px;
  background: #DDF;
  display: inline-block;
  width: 340px;
  vertical-align: top;
}

.big-kanji {
  display: block;
  font-size: 48pt;
  text-align: center;
  background: #FFF;
  border-radius: 32px;
  margin: 0 100px;
  padding: 12px 0;
}

.kanji-readings > .labelled-input {
  margin-top: 8px;
  display: flex;
}

.kanji-readings label, .kanji-readings input {
  display: inline-block;
  padding: 8px;
  border: 1px solid rgb(187, 187, 187);
  font-size: 13.333px;
  border-radius: 8px;
}

.kanji-readings label {
  width: 70px;
  background: #DDD;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.kanji-readings input {
  width: 220px;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.hidden-answer { display: none; }

.revealed-answer {
  margin-top: 4px;
  padding: 8px;
  border-radius: 24px;
  background: #FFC;
}

.revealed-answer::before {
  content: '▲';
  color: #FFC;
  float: left;
  max-width: 0;
  position: relative;
  left: 16px;
  top: -34px;
  font-size: 30px;
}

.split:before {
  color: #BBB;
  content: " || ";
}

/* ============================================================================
NOUNS PAGE
============================================================================ */

.noun-category {
  margin: 16px 8px;
  border-bottom: 1px solid #CCC;
  padding-bottom: 16px;
  text-align: center;
}

.noun-question {
  margin: 8px;
  padding: 16px;
  border: 1px solid #CCC;
  border-radius: 16px;
  background: #DDF;
  vertical-align: top;
}

.noun-question {
  display: inline-block;
  width: 240px;
}

.noun-question img {
  border-radius: 8px;
  margin-bottom: 8px;
}

.noun-question div:not(:empty) {
  margin-top: 12px;
  padding: 8px;
  border-radius: 8px;
  background: #FFC;
}

.noun-buttons {
  margin: 0 8px;
  text-align: right;
}

.noun-buttons a {
  margin: 0 4px;
}

.noun-buttons img {
  margin-right: 8px;
}

#page_bttns {
  position: relative;
  top: -15px;
  left: -12px;
  color: #444;
  font-style: italic;
}

/* ============================================================================
PARTICLES PAGE
============================================================================ */

#particles-content .en {
  font-weight: bold;
  font-size: 24px;
  color: #126;
}

#particles-content .en::before { content: '「 '; }
#particles-content .en::after  { content: ' 」'; }

#particles-content .jp {
  padding: 4px 16px;
  font-size: 20px;
}

#particles-content .gap::before {
  content: '?';
  display: inline-block;
  margin: 0 4px;
  padding: 0 8px;
  border-radius: 32px;
  border: 1px solid #888;
  color: #888;
}

#particles-content .right, #particles-content .wrong {
  width: 100%;
  padding: 2px;
  margin-top: 4px;
  background: #FFF;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 8px;
}

#particles-content label {
  cursor: pointer;
  padding: 0 8px;
  border-radius: 8px;
}

#particles-content label::after {
  display: inline-block;
  margin-left: 8px;
}

#particles-content .right :checked ~ label { background: #8D8; color: #242; }
#particles-content .wrong :checked ~ label { background: #F88; color: #422; }

#particles-content .right :checked ~ label::after { content: '✓'; }
#particles-content .wrong :checked ~ label::after { content: '✗'; }

/* ============================================================================
KANJI INFO PAGE
============================================================================ */

#content-info-kanji ul {
  margin: 0 16px;
  padding: 8px 16px;
  border: 1px solid #AAA;
  background: #F0F0F0;
  display: inline-block;
  list-style: none;
}

#content-info-kanji ul::before {
  content: 'Table of contents';
  font-weight: bold;
}

#content-info-kanji li::before {
  content: '→ ';
}

#content-info-kanji li:first-child {
  padding-top: 8px;
}

#content-info-kanji h2 ~ div {
  margin: 16px;
  padding: 16px;
  border: 1px solid #CCC;
  border-radius: 16px;
  background: #DDF;
  display: block;
  min-height: 123px;
}

#content-info-kanji h2 ~ div > span {
  float: left;
  display: inline-block;
  background: #FFF;
  color: #444;
  font-size: 64px;
  border-radius: 12px;
  padding: 8px 16px;
  position: relative;
  top: -8px;
  left: -8px;
}

#content-info-kanji dl {
  display: flex;
  padding: 0;
  margin: 5px 0;
}

#content-info-kanji dt {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  min-width: 80px;
  max-width: 80px;
  text-align: right;
}

#content-info-kanji dd {
  display: inline-block;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
  margin-left: 16px;
}
